<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table border="1">

        <% data.forEach((alldata) => {%>
            <tr>
                <td><%- alldata._id%></td>
                <td><%- alldata.name%></td>
                <td><img src='images/<%-alldata.image%>' alt="" width="100px" height="100px"> </td>
                <td><a href="delete/<%-alldata._id%>">delete</a></td>
                <td><a href="/edit/<%-alldata._id%>">edit</a></td>
            </tr>
            <% })%>
    </table>


</body>
</html>